/* -------------- NAVBAR ------------------ */

body {
    overflow-x: hidden;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-align: center;
}

.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  background-color: white;
  margin-bottom: 100px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(59, 61, 57);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
    opacity: 0.8;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-left: 0;
    text-transform: uppercase;
}

.sidenav a:hover, .offcanvas a:focus{
    color: rgb(59, 61, 57);
    background-color: rgb(68, 240, 145); 
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 0;
}


#navbar-main {
    transition: margin-left .5s;
    transition: visibility 1s;
    padding: 16px;
    height: 100px;
    font-size: 15px;
    text-align: left;

    /*margin-bottom: 50px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
    transition: 0.5s;
}

#brand_logo {
    width: 160px;
    height: 50px;
    margin-left: 40%;
}

.search-icon {
    float: right;
    margin-top: 20px;
    margin-left: 5px;
    text-decoration: none;
}

#displayname {
    margin-left: 20%;

}

#login {
    margin-left: 30%;
    color: rgb(59, 61, 57); 
    /*display: none;*/

}

#login:hover {
    background-color: rgb(59, 61, 57);
    padding: 8px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

#logout {
    margin-left: 5px;

}

#sign_out_btn {
    color: rgb(59, 61, 57);
}

#cart_icon {
    width: 23px;
}

@media (max-width: 976px) {
    #login, #logged_in_as, #display_username, #cart_icon, #sign_out_btn, #cart_badge {
        display: none;
    }
}

@media (min-width: 450px) (max-width: 976px) {
    #cart_icon {
       margin-left: 20%;
    }
}

@media (max-width: 560px) {
    #brand_logo {
        margin-left: 30%;
    }
}

@media (min-width: 330px) and (max-width: 400px) {
    #brand_logo {
        margin-left: 25%;
    }
}

@media (max-width: 329px) {
    #brand_logo {
        margin-left: 10%;
    }
}

/* ------------------ END OF NAVBAR ------------------ */
/* ------------------ RIGHT NAVBAR -------------------*/

.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(59, 61, 57);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    text-align: left;
    color: white;
    /*margin-left: 10%;*/

}

.sidenav2 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    margin-right: 0;
}

.sidenav2 p {
    padding-left: 30px;
}

.sidenav2 a:hover, .offcanvas a:focus{
    color: white;
    background-color: grey;
}

.sidenav2 .closebtn2 {
    top: 0;
    left: 25px;
    font-size: 36px;
    color: white;
}

.closebtn2 {
    width: 400px;
    font-size: 20px;
}

.check_out_btn_container {
    bottom: 100%;
    max-width: 50px;
}

.check_out_btn, #checkout {
    background-color: rgb(68, 240, 145);
    border: 0;
    color: rgb(59, 61, 57);
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav2 {padding-top: 15px;}
  .sidenav2 a {font-size: 18px;}
}

.check_out_right {
    /*display: none;*/
    padding-left: 500px;
}

.cart_name_container {
    color: rgb(68, 240, 145);
}

.grandtotal_checkout {
    padding-left: 10px;
    margin-top: 50px;
    text-align: left;
    bottom: 0px;
    margin-left: 50px;
    width: 300px;
}

.grandtotal_checkout > h1 {
    border-top: 1px solid white;
    max-width: 300px;
    padding-top: 5px;
}

.cancel_shopping_container {
    margin-top: 10px;
}

.remove_item_button {
    color: rgb(59, 61, 57);
}

.cart_item_container {
    margin-top: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.checkout_info_container > h4 {
    color: rgb(59, 61, 57);
}

.right_nav_main_container {
    height: 100vh;
}

#shipping_address {
    width: 100%;
    color: rgb(59, 61, 57);
}

/* ------------------ INDEX ------------------ */

video {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: -1;
}


#banner-image {
    width: 500px;
    margin-left: 20%;
}

.featured_brands {
    text-align: center;
}

.featured_firstcol {
    padding: 5px;
}

.featured_firstcol img {
    width: 100%;
}

.featured_brands img {
    margin-top: 20px;
    border: 1px solid grey;
    opacity: 1;
    filter: alpha(opacity=100);
}

.featured_brands img:hover {
    opacity: 0.7;
    filter: alpha(opacity=30);
}

.banner-caption {
    margin-top: 8%;
}
.banner-caption > h1 {
    font-family: 'Anton', sans-serif;
    font-size: 65px;
    color: rgb(68, 68, 68);
}

.banner-caption > h2 {
    margin-left: 30%;
    margin-top: 0;
    color: rgb(68, 68, 68);
}

.banner-btn {
    margin-left: 43%;
    width: 100px;
    background-color: rgb(68, 68, 68);
    color: white;
}

.banner-btn:hover {
    background-color: white;
}

.banner-container {
    width: 100vw;
    margin-bottom: 0;
    /*background: url(../images/mk_model.jpg);*/
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 60vh;
}

.banner-container h1 {
    margin-left: 25%;
    margin-top: 0;
}

.banner-container h3 {
    margin-left: 35%;
    margin-top: 0;
}

.banner-container2 {
    margin-left: 10%;
    margin-top: 0%;
}

.banner-container2 img {
    width: 250px;
}

#banner-image-shoes, #banner-image-watch {
    height: 290px;
    width: 300px;
    margin-top: 20px;
}

.banner-container2 h3 {
    margin-left: 25%;
    font-size: 40px;
    color: rgb(68, 68, 68);
    text-decoration: underline;
}

.container {
    background-color: rgb(234, 234, 234);
    width: 100vw;
    z-index: 999;
    padding-bottom: 15px;
}

/*---------------LOG IN --------------------*/
.login-container {
    background-color: #f7f7f7;
    height: 320px;
    width: 500px;
    margin: auto;
    border: 1px solid #D0D1CB;
}

.user_password_container {
    margin-bottom: 20px;
}

.form-group {
    width: 50px;
    margin-left: 50px;
}

.login_password {
    margin-top: 10px;
}

.forgot_password_container {
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
    color: rgb(59, 61, 57);
}

.forgot_password_container a {
    color: rgb(59, 61, 57);
}

.login-btn-container {
    margin-bottom: 50px;

}

.login-btn {
    width: 100px;
    margin-top: 10px;
    border: 1px solid rgb(211, 211, 211);
}

.register_container {
    height: 600px;
    margin-bottom: 20px;
}

/* ---------------- LOG OUT ---------------*/

.log-out-container {
    text-align: center;
}

/* ---------------- ITEMS ------------------*/ 

.thumbnail {
    width: 280px;
    font-size: 20px;
    height: 350px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    line-height: 15px;
}

.thumbnail p {
    color: rgb(59, 61, 57);
    text-decoration: none;
}


.thumbnail > span {
    font-size: 15px;
}

.thumbnail img {
    height: 300px;
    width: auto;
}

.item-row-container {
    margin-top: 20px;
    font-size: 10px;
}


.search_container {
    margin-left: 5%;
}

.no_item_container {
    height: 45vh;
}

.no_item_content {
    margin-top: 10%;
    margin-left: 38%;
    max-width: 350px;
}

.no_item_content p {
    font-size: 20px;
    height: 100px;
    padding: 30px;
    border: 1px solid black;
}

@media (min-width: 630px) and (max-width: 767px) {
    .item-row-container {
        margin-left: 30%;
    }
}

@media (min-width: 526px) and (max-width: 629px) {
    .item-row-container {
        margin-left: 20%;
    }
}
 
@media (min-width: 394px) and (max-width: 525px) {
    .item-row-container {
        margin-left: 10%;
    }
}

@media (min-width: 393px) {
    .item-row-container {
        /*margin-left: 7%;*/
    }
}

/*----------------- INDEX ITEMS -----------------*/

.item_button {
    color: rgb(59, 61, 57);  
}

.item_button:hover {
    background-color: rgb(59, 61, 57);
    padding: 8px;
    color: white;
    text-decoration: none;
}

#thumbnail_price {
    background-color: rgb(59, 61, 57);
    /*color: rgb(68, 240, 145);*/
    color: white;
    padding: 10px;
    width: 120px;
    margin: auto;
}

#item_image {
    max-width: 180px;
    max-height: 210px;
}


/*---------------- ADD TO CART -----------------*/

.quantity_container {
    margin-bottom: 5px;
}



/* ---------------- ADD  ITEMS ------------------*/ 

.add_item_btn {
    margin-top: 10px;
    background-color: rgb(59, 61, 57);
    color: white;
    padding: 5px;
    width: 120px;
    border: 1px solid rgb(59, 61, 57);
}

.add_item_btn:hover {
    background-color: rgb(59, 61, 57);
    color: rgb(68, 240, 145);
}

.cancel_add_items {
    margin-top: 10px;
    background-color: white;
    color: rgb(59, 61, 57);
    padding: 5px;
    width: 120px;
    border: 1px solid rgb(59, 61, 57);
}

/*.cancel_add_items:hover {
    background-color: rgb(59, 61, 57);
    color: white;
    text-decoration: none;
}
*/

.catalog-row > div > img {
    width: 300px;
}

.upload_image_container {
    width: 150px;
    text-align: left;
}

.catalog_header {
    margin-left: 6%;
}

.catalog_header > span {
    /*text-decoration: underline;*/
    margin-right: 5px;
}

/*#add_new {
    background-color: rgb(59, 61, 57);
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    width: 120px;
    border: 1px solid rgb(59, 61, 57);
    margin-left: 70%;
}*/

.add-item-container {
    width: 500px;
    margin: auto;
    text-align: center; 
    margin-bottom: 50px;
    border: 1px solid rgb(225, 225, 225);
    padding-bottom: 30px;
}

.add-item-container h2, h4 {
    text-transform: uppercase;
    max-width: 200px;
}

.add-item-container h2 {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.add-item-container label {
    max-width: 300px;
    text-align: left;
}

.form-group h4 {
    font-size: 20px;
}

.form-control {
    width: 400px;

}

.item-filter {
    width: 500px;
    display: inline;
}

#search_bar {
    width: 500px;
}

.item_filter_container {
    margin-left: 0%;
    display: inline-block;
    text-align: center;
}

.search_bar {
    padding: 0;
}

/* ITEM ACTIVE */
.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.myModal {
    display: none;
}

.item_name {
    max-width: 300px;
}

/* ------ DISPLAY ITEMS ------- */

.add_to_cart {
    margin-top: 10px;
    background-color: rgb(59, 61, 57);
    color: white;
    padding: 5px;
    width: 120px;
    border: 1px solid rgb(59, 61, 57);
}

.add_to_cart:hover {
    background-color: rgb(59, 61, 57);
    color: rgb(68, 240, 145);
}

#addtocart_container {
    visibility: hidden;
}

#cancelcartBtn {
   visibility: hidden;
    margin-top: 10px;
    background-color: white;
    color: rgb(59, 61, 57);
    padding: 5px;
    width: 120px;
    border: 1px solid rgb(59, 61, 57);
}

#cancelcartBtn:hover {
    background-color: rgb(234, 234, 234);
}

.display_item_name > h1 {
    text-transform: uppercase;
}

.name_price_container {
    line-height: 170%;
}

.disp_name {
    font-size: 45px;
    text-transform: uppercase;
    /*text-decoration: underline;*/
}

.disp_price {
    font-size: 30px;
    background-color: rgb(59, 61, 57);
    color: white;
    padding: 5px;
    margin-top: 5px;
    max-width: 150px;
    text-align: center;
}

.item_price_container {
    display: none;
}

#item_price_js {
   visibility: hidden;
}

#item_pic_container {
    max-width: 550px;
    padding-top: 50px;
}

.panel-container {
    width: 65%;
    /*height: 200px;*/
}

.panel-body {
    height: 200px;
}

#item_pic {
    max-width: 100%;
}

.cancel_edit {
   visibility: hidden;
}

.textarea {
    width: 300px;
    height: 200px;
}

.add_to_cart_container {
    margin-top: 20%;   
}

#add_to_cart_btn {
    width: 120px;
    height: 40px;
}

.descript_text {
    text-align: left;
    margin-top: 20px;
    padding-top: 50px;
}

.descript_text span {
    /*color: #3b5998;*/
}

.display_items_container {
    margin: auto;
    padding-bottom: 50px;
}

@media (max-width: 425px) {
    .descript_text {
        padding-left: 50px;
    }
}

/* --------- EDIT ITEMS -------- */

button {
    margin-bottom: 3px;
}

.page-alerts {
    margin-bottom: 20px;
}

.page-alerts .page-alert {
    border-radius: 0;
    margin-bottom: 0;
}

#form_container {
    margin-bottom: 50px;
}

#description_container {
   z-index: 999;
   padding: 0;
   width: 300px;
   border: 1px solid black;
   margin-bottom: 20px;
}

#item_container {
    height: 100%;
    /*position: absolute;*/
    /*float: right;*/
}

.item_title_container {
    width: 400px;
    text-align: left;
}

.edit_option_btn {
    width: 400px;
}

.edit_item_save {
    margin-top: 10px;
    background-color: rgb(59, 61, 57);
    color: white;
    padding: 5px;
    width: 120px;
    border: 1px solid rgb(59, 61, 57);
    margin-left: 30px;
}

.edit_item_save:hover {
    background-color: rgb(59, 61, 57);
    color: rgb(68, 240, 145);
}

.edit_item_cancel {
    margin-top: 10px;
    background-color: white;
    color: rgb(59, 61, 57);
    padding: 5px;
    width: 120px;
    border: 1px solid rgb(59, 61, 57);
}

.edit_item_cancel:hover {
    background-color: rgb(234, 234, 234);
}

/* ------------ DELETE ITEMS -------------*/ 

.delete_main_container {
    margin-bottom: 180px;
}

.delete_item_container {
    text-align: left;
    margin-top: 30px;
    padding-top: 50px;
}

.display_item_name {
    margin-bottom: 10px;    
}

@media (max-width: 767px) {
    #delete_item_container {
        padding-left: 50px;
    }
}

/* ------------ ITEM FILTER -------------*/

#search_btn {
    margin-top: 10px;
    background-color: rgb(59, 61, 57);
    color: white;
    /*padding: 5px;*/
    width: 100px;
    height: 35px;
    border: 1px solid rgb(59, 61, 57);
}

/* ------------ CART CONTAINER ------------ **/

.cart_container {
    height: 150px;
    padding-left: 10px;
    max-width: 400px;

}

.check_out_btn_container {
    padding-left: 10px;
    max-width: 450px;
}

.cart_image_container {
    background-color: white;
    width: 100px;
    height: 110px;

}

.cart_left {
    max-width: 150px;
}

.cart_image_container img {
   width: 90px;
   height: 90px;
   padding-left: 10px;
   padding-top: 10px;
}

.check_out_phpcontainer {
    max-width: 450px;
}

.cartitem_checkout_container {
    position: relative;
}

.checkout_info_container {
    position: fixed;
    left: 60%;
    top: 250px;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    width: 40%;
    background-color: rgb(234, 234, 234);
}

.checkout_info_container > h4 {
    margin-left: 50px;
}

#check_out_button {
    color: rgb(59, 61, 57);

}

.checkout_info_container {
    height: 400px;
}

/* --------------- FOOTER ---------------*/

.f-wrapper {
    text-align: center;
    background-color: rgb(59, 61, 57);
    height: 20%;
    color: white;
    font-size: 15px;
    margin-top: 5%;
    bottom: 0;
    
}

.last-row a {
    color: white;
}

.footer-container {
    padding-top: 20px;
}

.footer-wrapper {
    padding-bottom: 10px;
    bottom: 0;
}

#login_button, #register_button {
    background-color: rgb(59, 61, 57);
    color: white;
    border: 1px solid rgb(211, 211, 211);
}

#login_button:hover {
    background-color: rgb(68, 240, 145);
    color: rgb(59, 61, 57);
}

#register_button:hover {
    background-color: rgb(68, 240, 145);
    color: rgb(59, 61, 57);
}

.forgot_password_container a {
    color: white;
}